/* pages/user/myorder.wxss */
page{
    height: 100%;
}
.all_orders{
    height: 100%;
    margin-top: 20rpx;
    display: flex;
    .side_bar{
        // height: 80rpx;
        // justify-content: center;
        // align-items: center;
        flex: 1;
        // background-color:red;
    }
    .first_tab{
        flex: 6;
        margin-left: 20rpx; 
        width: 70%;
        // height: 100%;
        .fail_wrap{
            height: 100%;
            // background-color: #ccc;
            margin-top: 50%;
            text-align: center;
            font-size: 35rpx;
            color: rgb(109, 109, 109);
        }
        .orders_item{
            display: flex;
            border-bottom: 3rpx solid #ccc;
            padding: 30rpx;
            .orders_info_wrap{
                flex: 5;
                display: flex;
                flex-direction: column;
                justify-content:  center;
                margin-left: 10rpx;
                .order_name{
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-origin: vertical;
                    font-size: 28rpx;
                    text-align: center;
                }
            }
            .orders_time_wrap{
                display: flex;
                flex: 5;
                flex-direction: column;
                justify-content:  space-around;
                margin-left: 30rpx;
                // text-align: center;
                .order_date{
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-origin: vertical;
                    font-size: 25rpx;
                }
                .order_time{
                    display: -webkit-box;
                    color: red;
                    overflow: hidden;
                    -webkit-box-origin: vertical;
                    font-size: 25rpx;
                }
                .order_People{
                    color: rgb(75, 135, 238);
                    font-size: 25rpx;
                }
            }
            .delete_wrap{
                flex: 1;
            }
        }
    }
}